# system files
.DS_Store
.atom
.bash_history

# development configuration files
.env
.editorconfig
.vscode

# docker depencencies
Dockerfile
Dockerfile.base
docker-compose.yml

# git dependencies
.git
.gitignore

#log files
*.log

#other
node_modules
dist
log
